body {
  font-family: sans-serif;
}

a{
  color: black;
  list-style-type: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px 50px;
}

table {
  width: 600px;
  margin: auto;
  background-color: #ffffff;
}

th, td {
  text-align: left;
}

.img-medium {
  max-width: 300px;
}

.img-small {
  max-width: 50px;
  align-content: center;
}
